@using Domain.Shop
@using Persistence.Extention
@model IEnumerable<ChangePrice>
@{
    ViewData["Title"] = "Index";
}

<div class="card card-primary  text-center">
    <div class="card-header">
 تغییرات قیمت
    </div>

    <div class="card-body">
        <a class="btn btn-success" asp-action="create">جدید</a>



        <table class="table">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>محصول</th>
                    <th>تغییرات خرید</th>
                    <th>تغییرات فروش</th>
                    <th>تاریخ ایجاد</th>
                </tr>

            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i </td>
                        <td>@item.Product.title </td>
                        <td>@item.BuyChange </td>
                        <td>@item.SellChange </td>
                        <td>@item.CreateAt.ToPersianLong() </td>

                    </tr>
                    i = i + 1;
                }

            </tbody>
        </table>

    </div>


</div>

