@using Domain.Shop
@using Persistence.Extention
@model IEnumerable<ProductPrice>
@{
    ViewData["Title"] = "Index";
}

<div class="card card-primary  text-center">
    <div class="card-header">
      قیمت ها
    </div>

    <div class="card-body">

        <a class="btn btn-success" asp-action="GetData">دریافت از وب سرویس</a>

        <a class="btn btn-primary" asp-action="Insert">ورود دستی</a>
        <label  class="control-label"></label>
        <select class="form-control myselect" 
                data-url="@Url.Action("GetPricesByProduct", "ProductPrice", new { area = "Admin" })"
                asp-items="ViewBag.Product" onchange="GetProductPriceByProductId(this)">
            <option value="">لطفا یک گزینه را انتخاب نمائید .</option>
        </select>
        <table class="table">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>دسته بندی</th>
                    <th>محصولات</th>
                    <th>قیمت خرید</th>
                    <th>قیمت فروش</th>
                    <th>تغییر</th>
                    <th>ساعت دریافت</th>
                    <th>نوع ورود اطلاعات</th>
                </tr>

            </thead>
            <tbody id="PriceTableBody">
                <partial name="_GetProductPriceByProductId" model="Model" />
             

            </tbody>
        </table>

    </div>


</div>
@section Scripts {
    <script src="~/js/admin/SearchItem.js"></script>
}
