@using Domain.Shop
@using Persistence.Extention
@model IEnumerable<ProductPrice>
@{
    ViewData["Title"] = "Index";
}

<div class="card card-primary  text-center">
    <div class="card-header">
      قیمت ها
    </div>

    <div class="card-body">
        <div class="d-flex align-items-center justify-content-start">
            <!-- دکمه دریافت از وب سرویس -->
            <a class="btn btn-success m-2" asp-action="GetData">دریافت از وب سرویس</a>

            <!-- دکمه ورود دستی -->
            <a class="btn btn-primary m-2" asp-action="Insert">ورود دستی</a>

            <!-- بخش محصول: لیبل و سلکت -->
            <div class="d-flex align-items-center m-2">
                <label class="control-label m-2">محصولات</label>
                <select class="form-control myselect"
                        data-url="@Url.Action("GetPricesByProduct", "ProductPrice", new { area = "Admin" })"
                        asp-items="ViewBag.Product" onchange="GetProductPriceByProductId(this)">
                    <option value="">لطفا یک گزینه را انتخاب نمائید .</option>
                </select>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>دسته بندی</th>
                    <th>محصولات</th>
                    <th>قیمت خرید</th>
                    <th>قیمت فروش</th>
                    <th>تغییر</th>
                    <th>ساعت دریافت</th>
                    <th>نوع ورود اطلاعات</th>
                </tr>

            </thead>
            <tbody id="PriceTableBody">
                <partial name="_GetProductPriceByProductId" model="Model" />
             

            </tbody>
        </table>

    </div>


</div>
@section Scripts {
    <script src="~/js/admin/SearchItem.js"></script>
}
